.link {
  text-decoration: none;
  color: black;
}

.product-container {
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 0.25px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

.inner-container {
  display: flex;
  gap: 20px;
}

.image-container {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-price-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.details-container h3 {
  font-size: 25px;
}

.category {
  padding: 5px 10px;
  background-color: #f7f7f7;
}

.details-container p {
  font-size: 15px;
}

.price {
  padding: 5px 10px;

  font-size: 20px;
  font-weight: 600;
}
