.container {
  position: relative;
}

.link {
  text-decoration: none;
  color: black;
}

.product-container {
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 0.25px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
}

.inner-container {
  display: flex;
  gap: 20px;
}

.image-container {
  width: 200px;
  height: 150px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  padding-top: 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-left {
  display: flex;
  gap: 5px;
}

.text-container h3 {
  font-size: 25px;
}

.text-container p {
  font-size: 15px;
}

.category {
  padding: 5px 10px;
  background-color: #f7f7f7;
}

.price {
  padding: 5px 0;

  font-size: 20px !important;
  font-weight: 600;
}

.like-btn-container {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.like-btn-container button {
  font-size: 20px;
  padding: 10px;
}
