.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.pass-form {
  padding: 25px 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.pass-form h1 {
  margin-bottom: 20px;
}

.pass-form label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}

.pass-form input {
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 18px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

.email-btn-row {
  display: flex;
  justify-content: center;
}

.btn-link,
.btn-fill {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
}

.btn-link {
  color: #050c9c;
}

.btn-link:hover {
  text-decoration: underline;
}

.btn-fill {
  color: white;
  background-color: #050c9c;
  border: 3px solid #050c9c;
  border-radius: 5px;
}

.btn-fill:hover {
  color: #050c9c;
  background-color: transparent;
}
