.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.container div {
  padding: 20px 30px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.container img {
  margin: 10px;
  max-width: 150px;
  max-height: 150px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.container p {
  font-size: 25px;
}
