.container {
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 70%;
}

.container h1 {
  margin-bottom: 15px;
}

.container h2 {
  font-size: 25px;
}

.container p {
  display: flex;
  justify-content: end;
}

.publish-btn {
  padding: 8px 15px;

  font-size: 20px;
  color: white;
  background-color: #050c9c;
  border: 3px solid #050c9c;
  border-radius: 5px;
}

.publish-btn:hover {
  background-color: transparent;
}
