.container {
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 25px 40px;

  font-size: 1.75rem;
  font-weight: 600;
  color: black;
  text-decoration: none;

  background-color: #3572ef;
  border-radius: 5px;
}

.top-container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
}

.top-img-container {
  width: 60%;
}

.top-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 40%;
  text-align: center;
}

.top-img-container img {
  padding-top: 50px;
  width: 700px;
  height: 500px;
}

.top-text-container div h2 {
  margin-bottom: 50px;
  font-size: 42px;
}

.bottom-container {
  margin: auto;
  width: 80%;
  text-align: center;
}

.bottom-container h2 {
  margin-bottom: 50px;
  font-size: 42px;
}

.bottom-container .btn {
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  .top-img-container img {
    width: 500px;
    height: 400px;
  }

  .btn {
    padding: 15px 20px;
    font-size: 1rem;
  }

  .bottom-container h2 {
    margin-bottom: 50px;
    font-size: 32px;
  }

  .top-text-container div h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }
}
