.container {
  width: 80%;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.input-container * {
  margin: 2rem 0;
  padding: 10px;
  box-sizing: content-box !important;
}

.search-input {
  width: 100%;
  height: 3rem;

  font-size: 20px;
  border: 0;
}

.search-btn {
  font-size: 1.25rem;
  color: white;

  background-color: #050c9c;
  border: 3px solid transparent;
}

.search-btn i {
  display: inline;
}

.search-btn:hover {
  color: #050c9c;
  background-color: transparent;
  border: 3px solid #050c9c;
}
