.container {
  width: 80%;
  margin: auto;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 0 !important;
}

.input-container {
  margin-top: 2rem 0;
  padding: 10px;
}

.input-bar-container {
  position: relative;
  width: 100%;
}

.search-input {
  margin: 2rem 0;
  padding: 2rem 1.25rem;

  width: 100%;
  height: 3rem;

  font-size: 20px;
  border: 0.25px solid rgb(0, 0, 0, 0.2);
}

.filter-btn {
  position: absolute;
  top: 32%;
  right: 15px;
  padding: 10px;
  font-size: 1.5rem;
  color: #050c9c;
}

.filter-btn:hover {
  color: #000;
}

.search-btn {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 1.25rem;
  color: white;

  background-color: #050c9c;
  border: 3px solid transparent;
}

.search-btn i {
  display: inline;
  padding: 10px;
}

.search-btn:hover {
  color: #050c9c;
  background-color: white;
  border: 3px solid #050c9c;
}
