.box {
  padding: 15px 20px;
  margin: auto;
  margin-bottom: 20px;

  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0, 0.3);
}

.box h2 {
  margin-bottom: 15px;
}

.row {
  display: flex;
  gap: 5%;
  margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-box {
  position: relative;
  width: 50%;
}

.price-input-box {
  position: relative;
  width: 100%;
}

.name-reset-button {
  position: absolute;
  right: 3%;
  top: 28%;
  font-size: 15px;
}

.price-reset-button {
  position: absolute;
  right: 5%;
  top: 28%;
}

.form-input {
  padding: 5px;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.01);
  border: 1px solid black;
  border-radius: 5px;
}

.form-input[type='number']::-webkit-inner-spin-button,
.form-input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.title-input {
  margin-bottom: 15px;
  padding: 7px;
  width: 100%;
  font-size: 20px;
}

/* Description Box*/

.description {
  padding: 10px 12px;
  width: 100%;
  font-size: 15px;
  background-color: rgb(0, 0, 0, 0.01);
  border: 1px solid black;
  border-radius: 5px;
}
